<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add / Edit Expense</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Add / Edit Expense</h1>
<form action="#" method="post">
    Date: <input type="date" name="date"><br>
    Category: <input type="text" name="category"><br>
    Amount: <input type="number" name="amount"><br>
    Description: <textarea name="description"></textarea><br>
    <button type="submit">Save</button>
</form>
</body>
</html>
